footer {
  padding: 1rem 0 0.5rem 0;
  background-color: #5be9b9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phrase {
  font-family: "Barlow", sans-serif;
  margin-bottom: 0.5rem;
}

.authorship {
  font-family: "Quicksand", sans-serif;
}

.profileLink {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #6e07f3;
}

.copyrightIcon {
  height: 18px;
  margin-left: -4px;
  vertical-align: middle;
}

.footerSocialMedia {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 0.8rem;
}

@media (max-width: 768px) {
  footer {
    height: auto;
    padding: 1.5rem 0;
    background-color: #5be9b9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .phrase {
    font-family: "Barlow", sans-serif;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .authorship {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
  }

  .footerSocialMedia {
    display: none;
  }
}
