* {
  margin: 0;
  box-sizing: border-box;
}

.pagesContainer {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
}

@media (max-width: 1180px) {
  .pagesContainer {
    height: 100vh;
    width: auto;
    scroll-snap-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .page {
    height: auto;
    width: auto;
    display: inline-block;
  }
}
