/* Full Page Scroll Code */

/* .pagesContainer {
  height: auto;
  width: auto;
  scroll-snap-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page {
  height: auto;
  width: auto;
}

@media (min-width: 1300px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  .pagesContainer {
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .page {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
  }
} */
