.contentProjects {
  background-color: #6e07f3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleProjects {
  font-family: "Barlow", sans-serif;
  padding: 3rem 0 1rem 0;
  font-size: 35px;
  font-weight: 900;
}

.subtitleProjects {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.carousel {
  box-sizing: border-box;
  height: 20rem;
  width: 80vw;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.projectBanner {
  height: 14rem;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 7px 1px black;
}

.projectBanner:hover {
  height: 16rem;
}

.carousel::-webkit-scrollbar {
  background-color: #6e07f3;
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
