.contentProjects {
  background-color: #6e07f3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleProjects {
  font-family: "Barlow", sans-serif;
  padding: 3rem 0 0 0;
  font-size: 35px;
  font-weight: 900;
}

.subtitleProjects {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.carouselContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  box-sizing: border-box;
  height: 20rem;
  width: 80vw;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin: 4rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.arrowIcon {
  height: 5rem;
  cursor: pointer;
}

.slide {
  background-color: #000;
  border-radius: 10px;
  height: 14rem;
  transition: 0.5s;
}

.slide:hover {
  height: 16rem;
}

.projectBanner {
  height: 14rem;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 7px 1px black;
}

.projectBanner:hover {
  height: 16rem;
  opacity: 0.4;
}

.slide {
  position: relative;
}

.slide::after {
  position: absolute;
  content: "Ver projeto";
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  display: none;
  pointer-events: none;
}

.curriculoBtn {
  background-color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4rem;
  transition: 0.5s;
}

.curriculoBtn:hover {
  cursor: pointer;
  background-color: #5be9b9;
  color: #000;
}

.curriculoBtn a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.curriculoBtn a:hover {
  color: #000;
}

.slide:hover::after {
  display: block;
}

.carousel::-webkit-scrollbar {
  background-color: #6e07f3;
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

@media (max-width: 1180px) {
  .contentProjects {
    height: auto;
    width: 100vw;
    background-color: #6e07f3;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleProjects {
    font-family: "Barlow", sans-serif;
    padding: 4rem 0 1rem 0;
    font-size: 2.8rem;
    font-weight: 900;
  }

  .subtitleProjects {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .carouselContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    box-sizing: border-box;
    height: 40rem;
    width: 80vw;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: none;
  }

  .arrowIcon {
    display: none;
  }

  .slide {
    background-color: #fff;
    border-radius: 10px;
    height: 14rem;
    transition: 0.5s;
  }

  .projectBanner {
    height: 18rem;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 7px 1px black;
  }

  .curriculoBtn {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .contentProjects {
    height: auto;
    width: 100vw;
    overflow-x: hi;
  }

  .titleProjects {
    font-size: 2.5rem;
  }

  .subtitleProjects {
    font-size: 1.5rem;
  }

  .carouselContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    box-sizing: border-box;
    height: 40rem;
    width: 80vw;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: none;
  }

  .arrowIcon {
    display: none;
  }

  .slide {
    background-color: transparent;
    border-radius: 10px;
    height: 8rem;
    transition: 0.5s;
  }

  .slide:hover {
    height: 10rem;
  }

  .projectBanner {
    height: 10rem;
  }

  .projectBanner:hover {
    height: 10rem;
    opacity: 1;
    display: block;
    border: 1px solid black;
  }

  .slide::after {
    content: none;
    display: none;
    pointer-events: none;
  }

  .curriculoBtn {
    font-size: 1.5rem;
  }

  .curriculoBtn:hover {
    background-color: #fff;
  }

  .curriculoBtn a:hover {
    color: #6e07f3;
  }
}
