.content {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.skillsBox {
  width: 80vw;
  border-radius: 20px;
  box-shadow: 0px 0px 15px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.head {
  text-align: center;
}

.headIcon {
  width: 5rem;
}

.title {
  font-family: "Barlow", sans-serif;
  margin-bottom: 3rem;
  font-size: 35px;
  font-weight: 900;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.skill {
  flex: 0 0 20%;
  box-sizing: border-box;
}

.skillsContainer h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
}

.icon {
  margin: 1rem 3.5rem;
  width: 5rem;
}

@media (max-width: 768px) {
  .greenArea {
    display: none;
  }

  .content {
    margin: 0;
  }

  .skillsBox {
    margin: 5rem 0;
    padding: 0rem;
    width: 90%;
  }

  .headIcon {
    padding-top: 2rem;
  }

  .skillsContainer img {
    width: 50px;
  }

  .skillsContainer h3 {
    font-size: 1.4rem;
  }
}
